@use '../../../assets/styles/mixins' as *;
@use '../../../assets/tokens/z-indexes' as *;
@use '../../../assets/tokens/durations' as *;
@use '../../../assets/tokens/font-families' as *;
@use '../../../assets/tokens/spacings' as *;
@use '../../../assets/tokens/sizes' as *;
@use '../../../assets/tokens/line-heights' as *;
@use '../../../assets/tokens/colors' as *;
@use '../../../assets/tokens/media-queries' as *;
@use '../../../assets/tokens/border-radius' as *;
@use '../../../assets/tokens/box-shadows' as *;
@use 'sass:color' as sasscolor;

.mc-modal {
  $block-name: &;
  position: relative;
  $border-color: #dee1e9;
  $box-shadow-color: #20008c28;
  $border-color: $color-hover-gray;
  --mc-modal-padding: #{$space-400};
  --mc-modal-padding-small: #{$space-150};
  --mc-modal-header-line-height: #{$line-height-300};
  --mc-modal-button-height: #{$size-600};
  --mc-modal-button-height-small: #{$size-500};
  --mc-modal-max-width: 510px;
  --mc-modal-min-width: 768px;
  --mc-modal-state-number: 0;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: var(--mc-modal-state-number);

  @media #{$media-query-s} {
    --modal-scale: calc(var(--mc-modal-state-number) * 0.1 + 0.9);
    padding: 12px 0;
    height: auto;
    max-height: 80%;
    max-width: var(--mc-modal-max-width);
    min-width: var(--mc-modal-min-width);
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-black, 0.5);
    display: flex;
    justify-content: flex-start;
    &--hidden {
      background: transparent;
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn-close,
  &__btn-back {
    transition: $duration-s all;
    @include reset-btn();
    @include close-link();
  }
  &__btn-close {
    @include position(absolute, $space-300 $space-300 null null);
    padding: 0 !important;
    @media #{$media-query-s} {
      @include position(absolute, $space-300 $space-300 null null);
    }
  }
  &__btn-back {
    @include position(absolute, $space-300 null null $space-300);
    @media #{$media-query-s} {
      @include position(absolute, $space-300 null null $space-300);
    }
  }
  &__icon-close {
    @include size($size-300);
    transition: color $duration-s;
  }
  &.overlay-fade-enter-active,
  &.overlay-fade-leave-active {
    .mc-modal__inner {
      transition: all $duration-s;
      transform: translate3d(0, 0, 0);
    }
  }
  &.overlay-fade-enter,
  &.overlay-fade-leave-active {
    .mc-modal__inner {
      transform: translate3d(0, -20px, 0);
    }
  }
  &.mc-modal--secondary {
    .mc-modal {
      &__inner {
        border-radius: $radius-400;
        box-shadow: 0 15px 30px $box-shadow-color;
        padding: $space-400;
      }
      &__btn-close,
      &__btn-back {
        top: 27px;
      }
      &__btn-close {
        inset-inline-end: $space-400;
      }
      &__btn-back {
        inset-inline-start: $space-400;
      }
      &__header {
        padding-bottom: 9px;
        border-bottom: 2px solid $border-color;
        margin-bottom: var(--mc-modal-padding);
      }
      &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mc-button {
          border-radius: $radius-150;
        }
      }
    }
  }

  &__header {
    flex-shrink: 0;
    transition: $duration-s all;
    padding: var(--mc-modal-padding) $space-200 $space-350;
    border-color: $border-color;
    @media #{$media-query-s} {
      padding: $space-350;
      .mc-title {
        transition: $duration-s all;
        line-height: var(--mc-modal-header-line-height);
      }
    }
    &:has(#{$block-name}__title:empty) {
      display: none;
      & + #{$block-name}__body {
        padding-top: $space-400;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    color: hsl(0, 0%, 13%);
    font-family: $font-family-main;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &__body {
    padding: $space-50 $space-200 $space-200;
    flex-grow: 1;
    min-height: 0;
    overflow-x: hidden;
    > *:only-child {
      min-height: 100%;
    }
    @media #{$media-query-s} {
      padding: $space-50 $space-400 $space-200;
      overflow: visible;
    }
  }
  &__inner {
    position: relative;
    box-shadow: $shadow-s;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100% !important;
    > *:first-child {
      padding-top: var(--mc-modal-padding);
    }
    > *:last-child {
      padding-bottom: var(--mc-modal-padding);
    }
    &--with-title {
      #{$block-name}__btn-close {
        @media #{$media-query-s} {
          @include position(absolute, var(--mc-modal-padding) $space-400 null null);
        }
      }
      #{$block-name}__btn-back {
        @media #{$media-query-s} {
          @include position(absolute, var(--mc-modal-padding) null null $space-400);
        }
      }
    }
    @media #{$media-query-s} {
      overflow: visible;
      /* прячет рандомный скроллбар при включении модалки */
      -ms-overflow-style: none;
      scrollbar-width: none;
      border-radius: $radius-100;
      margin: 0 $space-150;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &--scrollable {
    overflow: hidden !important;
    #{$block-name} {
      &__body {
        overflow-y: auto;
        overflow-x: hidden;
      }
      &__inner {
        overflow-x: hidden;
        @media #{$media-query-s} {
          max-height: 80vh;
        }
      }
    }
  }
  &--header-align {
    &-center {
      #{$block-name} {
        &__header {
          padding-inline: $space-500;
          text-align: center;
          @media #{$media-query-s} {
            padding-inline: $space-700;
          }
        }
      }
    }
    &-left {
      #{$block-name} {
        &__header {
          padding-bottom: $space-150;
        }
      }
    }
  }
  &--small-indents {
    @media #{$media-query-s} {
      #{$block-name} {
        &__control {
          padding-block: var(--mc-modal-padding-small) !important;
          .mc-button {
            height: var(--mc-modal-button-height-small);
          }
        }
        &__header {
          padding-block: var(--mc-modal-padding-small) !important;
          .mc-title {
            align-items: center;
          }
        }
        &__body {
          padding-bottom: $space-50;
        }
      }
    }
    #{$block-name}__inner--with-title {
        #{$block-name} {
          &__btn {
            &-back,
            &-close {
              top: var(--mc-modal-padding-small) !important;
            }
          }
        }
    }
  }

  &--scrolled {
    $separator-border: 1px solid $border-color;
    &-top {
      #{$block-name} {
        &__header {
          border-bottom: $separator-border;
        }
      }
    }
    &-bottom {
      #{$block-name} {
        &__control:not(:empty) {
          border-top: $separator-border;
        }
      }
    }
  }
  &--top-padding {
    #{$block-name}__inner:before {
      content: '';
      height: $space-400;
      min-height: $space-400;
    }
  }
  &__control {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding: $space-200 $space-200 $space-400;
    transition: $duration-s all;
    @media #{$media-query-s} {
      padding: $space-200 $space-300 $space-400;
    }
    .mc-button {
      width: 100%;
    }
    @media #{$media-query-s} {
      .mc-button {
        min-width: 100px;
        height: var(--mc-modal-button-height);
        transition: $duration-s all;
        width: unset;
      }
    }
    &:empty {
      position: relative;
      padding: $space-350 0 0;
    }
    &:not(:empty) {
      border-color: $border-color;
    }
  }
  &:has(&__control:empty) {
    #{$block-name} {
      &__body {
        padding-bottom: $space-50;
      }
    }
  }
  &--variation {
    &-info {
      #{$block-name} {
        &__header {
          @media #{$media-query-s} {
            padding: $space-300 $space-300 $space-150;
          }
        }
        &__btn-close {
          @media #{$media-query-s} {
            top: $space-300;
          }
        }
        &__inner {
          & > *:first-child {
            @media #{$media-query-s} {
              padding-top: $space-300;
            }
          }
          & > *:last-child {
            @media #{$media-query-s} {
              padding-bottom: $space-300;
            }
          }
        }
        &__body {
          padding-bottom: $space-50;
          @media #{$media-query-s} {
            padding-inline: $space-300;
          }
        }
        &__control {
          padding-top: $space-250;
          @media #{$media-query-s} {
            padding-top: $space-150;
          }
        }
      }
    }
  }
  @at-root {
    html[dir='rtl'] {
      #{$block-name} {
        &__btn-back {
          transform: rotate(180deg);
        }
      }
    }
  }
}